@charset "UTF-8";
* {
  font-size: 100%;
  box-sizing: border-box;
}

body {
  font-family: var(--font-inter);
  background: var(--dark-bg);
  color: var(--dark-text2);
}

.container {
  padding: 0 1.5625rem;
  max-width: 68.75rem;
  margin: 0 auto;
}

:root {
  --limegreen: hsl(163, 72%, 41%);
  --brightred: hsl(356, 69%, 56%);
  --facebook: hsl(208, 92%, 53%);
  --twitter: hsl(203, 89%, 53%);
  --instagram: linear-gradient(to right, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
  --youtube: hsl(348, 97%, 39%);
  --toggle-bg-dark: linear-gradient(hsl(210, 78%, 56%), hsl(146, 68%, 55%));
  --dark-bg: hsl(230, 17%, 14%);
  --dark-top-bg: hsl(232, 19%, 15%);
  --dark-card-bg: hsl(228, 28%, 20%);
  --dark-text1: hsl(228, 34%, 66%);
  --dark-text2: hsl(0, 0%, 100%);
  --toggle-bg-light: hsl(230, 22%, 74%);
  --light-bg: hsl(0, 0%, 100%);
  --light-top-bg: hsl(225, 100%, 98%);
  --light-card-bg: hsl(227, 47%, 96%);
  --light-text1: hsl(228, 12%, 44%);
  --light-text2: hsl(230, 17%, 14%);
}

:root {
  --font-inter: "Inter", serif;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-top: 1.875rem;
  margin-bottom: 2.5rem;
}
.header-title__name {
  font-size: 1.75rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.header-title__total-followers {
  color: var(--toggle-bg-light);
}

.toggle {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.75rem;
}
.toggle__wrapper {
  position: relative;
  grid-column: 2/3;
  grid-row: 1/2;
  width: 4rem;
  height: 1.5rem;
}
.toggle__input {
  opacity: 0;
  z-index: 1;
  margin: -0.125rem;
  position: relative;
  width: 1.1875rem;
  height: 1.625rem;
}
.toggle__input:focus ~ .toggle__button {
  border: 0.125rem solid var(--dark-text2);
}
.toggle__background {
  position: absolute;
  top: 0;
  display: block;
  border-radius: 0.75rem;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: var(--toggle-bg-dark);
}
.toggle__button {
  position: absolute;
  top: 0.1875rem;
  left: 0.1875rem;
  right: 100%;
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 50%;
  background-color: var(--dark-bg);
  transition: all 150ms ease-in-out;
}

label {
  cursor: pointer;
}
label[for=dark] {
  grid-column: 1/2;
  justify-self: end;
}
label[for=system] {
  grid-column: 1/4;
  grid-row: 2/3;
  justify-self: center;
}
label[for=light] {
  grid-column: 3/4;
  justify-self: start;
}

#light:checked ~ .toggle__button {
  right: 0.1875rem;
  left: calc(100% - 21px);
}

#system:checked ~ .toggle__button {
  left: 50%;
  transform: translateX(-50%);
}

.cards-inline {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 0.3125rem;
  z-index: 10;
}
.cards-inline--facebook {
  background: var(--facebook);
}
.cards-inline--twitter {
  background: var(--twitter);
}
.cards-inline--instagram {
  background: var(--instagram);
}
.cards-inline--youtube {
  background: var(--brightred);
}
.cards-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 3.75rem;
}
.cards-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15rem;
  height: 13.5rem;
  background-color: var(--dark-card-bg);
  border-radius: 0.375rem;
  padding-top: 2.1875rem;
  padding-button: 1.5625rem;
  overflow: hidden;
}
.cards-item:hover {
  filter: brightness(150%);
}
.cards-item__info {
  display: flex;
  align-items: center;
  margin-bottom: 1.25rem;
}
.cards-item__icon {
  margin-right: 0.625rem;
}
.cards-item__nickname {
  color: var(--dark-text1);
  font-size: 0.75rem;
  font-weight: bold;
}
.cards-item__count {
  color: var(--dark-text2);
  font-size: 3.875rem;
  font-weight: bold;
  margin-bottom: 0.3125rem;
}
.cards-item__followers {
  color: var(--dark-text1);
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 0.34375rem;
  margin-bottom: 1.875rem;
}
.cards-item__today {
  display: flex;
  align-items: center;
}
.cards-item__today-icon {
  margin-right: 0.3125rem;
}
.cards-item__today-text {
  font-size: 0.75rem;
}
.cards-item__today-text--up {
  color: var(--limegreen);
}
.cards-item__today-text--down {
  color: var(--brightred);
}
.cards__title-today {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1.875rem;
}
.cards-diff {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.cards-today {
  display: flex;
  justify-content: space-between;
  width: 15rem;
  height: 9.375rem;
  background-color: var(--dark-card-bg);
  border-radius: 0.375rem;
  padding: 2.1875rem 1.6875rem;
  overflow: hidden;
  margin-bottom: 1.875rem;
}
.cards-today:hover {
  filter: brightness(150%);
}
.cards-today__info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cards-today__type {
  color: var(--dark-text1);
}
.cards-today__count {
  color: var(--dark-text2);
  font-size: 2.1875rem;
  font-weight: bold;
}
.cards-today__block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.cards-today__statistic {
  display: flex;
  align-items: center;
}
.cards-today__statistic-icon {
  margin-right: 0.3125rem;
}
.cards-today__statistic-text {
  font-size: 0.75rem;
}
.cards-today__statistic-text--up {
  color: var(--limegreen);
}
.cards-today__statistic-text--down {
  color: var(--brightred);
}

/* xl-размер (>=1200px) */
/* CSS для >=1200px */
/* lg-размер (<=1055px) */
@media (max-width: 65.9375rem) {
  /* CSS для ширины от 992px до 1055px */
  .container {
    max-width: 940px;
  }
  .cards-top {
    flex-wrap: wrap;
  }
  .cards-item {
    flex-basis: 48%;
    margin-right: 0.625rem;
    margin-bottom: 1.25rem;
  }
  .cards-diff {
    flex-wrap: wrap;
  }
  .cards-today {
    flex-basis: 48%;
    margin-right: 0.625rem;
  }
}
/* xs-размер (<=600px) */
@media (max-width: 37.4375rem) {
  /* CSS для ширины до 599px (включительно) */
  .header {
    flex-wrap: wrap;
    flex-direction: column;
  }
  .header-title {
    flex-basis: 100%;
    margin-bottom: 1.25rem;
  }
  .header-toggle {
    align-self: end;
  }
  .toggle__wrapper {
    width: 3.375rem;
  }
  .cards-top--mb-2 {
    margin-bottom: 1.25rem;
  }
  .cards-item {
    flex-basis: 100%;
  }
  .cards-today {
    flex-basis: 100%;
  }
}/*# sourceMappingURL=style.css.map */